<div id="navBar" class="btn-toolbar">
<div class="btn-group btn-group-vertical">
  <% options.each do |o| %>
  <% if not o[:children].nil? %>
  <a class="navBtn btn dropdown-toggle" data-toggle="dropdown" href="#">
    <%= o[:link] %>
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <% o[:children].each do |c| %>
    <li>
      <a href="<%= c[:href] %>"><%= c[:link] %></a>
    </li>
    <% end %>
  </ul>
  <% else %>
  <a class="navBtn btn" href="<%= o[:href] %>"><%= o[:link] %></a>
  <% end %>
<% end %>
</div>
</div>
